sphinx>=5.0.0
sphinx_rtd_theme>=1.0.0
contourpy==1.1.1
cycler==0.12.1
entrypoints==0.3
flake8==3.7.7
fonttools==4.60.2
https://github.com/aishw31/hdlparse/tarball/python3compat
importlib_resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
mccabe==0.6.1
numpy==1.24.4
packaging==25.0
pillow==12.2.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==3.1.4
PyQt6>=6.5.0
PyQt6-Qt6>=6.5.0
PyQt6-sip>=13.5.0
python-dateutil==2.9.0.post0
scipy==1.10.1
six==1.17.0
watchdog==4.0.2
zipp==3.20.2